/* general css starts here */
body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #fcfffc;
    position: relative;
}

.button {
    background-color: #6476f8;
    color: #f9f9f9;
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
    border-radius: 12px;
    border: 1px solid #6476f8;
}

.button:hover {
    background-color: #1a1a1a;
}

h1, h3{
    color: #494b48;
}

p {
    color: #6b7068;
}
/* general css ends here */


/* header css starts here */
.header {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    min-height: 90px;
    text-align: center;
}

.header h1 {
    font-family: 'Courier New', Courier, monospace;
    word-spacing: 0.6em;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    border: none;
    color: #FFFFFF;
	text-shadow: -1px 0 0 #494b48, 1px 1px 0 #494b48,
		     2px -1px 0 #494b48, 3px 0 0 #494b48;
}

.header p {
    margin: 0 auto;
    padding: 0;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-variant: small-caps;
    font-style: oblique;
    text-align: center;
}
/* header css ends here */


/* image upload form starts here */
.file-upload-form {
    background-color: #494b48;
    color: #dbdedb;
    min-height: 100px;
    margin: 0 auto;
    padding: 0;
    border: none;
}

.file-upload-form .form-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    border: none;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
}

.file-upload-form .form-container 
form .label-input-field {
    margin: 10px auto;
    overflow: hidden;
    padding: 0;
    border: none;
}

.file-upload-form .form-container 
form .file-label-description {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    border: none;
}

.file-upload-form .form-container 
form .file-label-description input[type='text'] {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid #cccccc;
    border-radius: 12px;
    padding: 5px;
    margin: 4px auto;
}

.file-upload-form .return-message {
    padding: 5px;
    margin: 0;
    border: none;
    text-align: center;
    font-style: message-box;
    font-family: fantasy;
    font-size: 14px;
}
/* image upload form ends here */


/* home page css starts here */
.home-page {
    width: 80%;
    margin: 0 auto;
    padding: 12px;
    border: none;
    display: grid;
    grid-gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows:300px;
    grid-auto-flow: row;
    grid-auto-columns: 100px;
}

.home-page .image-frame {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 1.1em;
}

.home-page .image-frame:hover {
    background-color: rgba(68, 68, 68, 0.171);
    border: 1px solid rgb(20, 22, 19);
}

.home-page .image-frame .image {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.home-page .image-frame .label {
    font-family: cursive, Tahoma;
    font-weight: bold;
    text-transform: lowercase;
    margin: 0;
    padding: 8px;
    border: none;
}

.home-page .image-frame .description {
    font-family: monospace;
    font-size: 12px;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
    border: none;
}
/* home page css ends */


/* modal css starts here */
/* parent of bg-modal = home-page  */
.bg-modal {
    width: 100%;
    min-height: 350px;
    max-height: 700px;
    background-color: rgba(27, 31, 34, 0.7);
    position: absolute;
    top: 0;
    display: none;
    margin: 0 auto;
}

.modal-content {
    width: 80%;
    min-height: 350px;
    max-height: 700px;
    background-color: #f1f1f1;
    position: relative;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.modal-frame {
    width: 100%;
    min-height: 350px;
    max-height: 500px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
     0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.1em;
}

.modal-frame img {
    box-sizing: border-box;
    width: 90%;
    min-height: 200px;
    max-height: 400px;
    margin: 0 auto;
    border-radius: 12px;
    padding: 5px;
}

.modal-frame .label_desc {
    padding: 10px;
    box-sizing: border-box;
}

.modal-frame .label_desc h1 {
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: cursive, Tahoma;
    font-weight: bold;
    text-transform: lowercase;
    margin: 0;
    padding: 8px;
    border: none;
}

.modal-frame .label_desc p {
    text-align: center;
    margin: 0 auto;
}

.modal-content .modal-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #6476f8;
    color: #f9f9f9;
    margin: 2px auto;
    border: 2px solid #6476f8;
}

.modal-content .modal-close:hover {
    background-color: #c00707;
}
/* modal css ends here */
